.cg__cards {
  margin-top:20px;
}

.cg__card {

  margin-bottom:40px;
  color:#6b6b6b;

  .h4 {
    color:#000;
    @include media-breakpoint-up(md){
      margin-top:20px;
      margin-bottom:30px;
    }
  }

  @include media-breakpoint-up(lg){
    margin-bottom:0;
  }

  img {
    margin-bottom:20px;
    height:175px;
    width:100%;
    object-fit: cover;
  }



}
