// Font
$font-stack: "Source Sans Pro", Helvetica, Arial, sans-serif;
$headers: "Arca", $font-stack;
$roadgeek: "Roadgeek", $font-stack;
// Colours
$text-color: #000;
$primary: #971b1e;
$secondary: #3a393a;
$tertiary: #eee;
$dark:#1d1d1d;
