.feature__photo {

  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-top:200px;
  padding-bottom:200px;

  color:#fff;

  .feature__title {
    font-size:50px;
  }

}
