.feature__photo {

  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-top:200px;
  padding-bottom:200px;
  position: relative;
  color:#fff;
  text-shadow:1px 1px 10px #000;

  p {
    font-size:30px;
    font-weight:bold;
    @include media-breakpoint-up(lg){
      font-size:45px;
    }
  }

  &:before {
    content:'';
    //background:rgba(0,0,0,0.3);
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index:0;
  }

  @include media-breakpoint-up(lg){
    padding-top:350px;
    padding-bottom:350px;
    background-attachment: fixed;
  }

  &.small {
    padding-top:200px!important;
    padding-bottom:200px!important;
    &:before {
      background:rgba(0,0,0,0.6);
    }
  }

}

.feature__title {
  font-size:60px;
  position: relative;
  margin-bottom:40px;
  @include media-breakpoint-up(lg){
    &.larger {
      font-size:75px;
    }
  }
}
