/*------------------------------------*\
    #PAGE FOOTER STYLES
\*------------------------------------*/

footer {

  background-color: $dark;
  color:#fff;

  h2.title {
    @include media-breakpoint-up(lg){
      margin-left:0;
    }
    a {
      background-image:url(../img/Assure-Energy-Logo-white.svg);
    }
  }

}
