/*------------------------------------*\
    #PAGE FOOTER STYLES
\*------------------------------------*/

footer {

  background-color: $dark;
  color:#fff;

  a {
    color:#fff;
    font-weight:bold;
    &:hover, &:active, &:focus {
      color:$primary;
    }
  }

  h2.title {
    margin-top:0;
    @include media-breakpoint-up(lg){
      width:100%;
      margin-left:0;
    }
    a {
      background-image:url(../img/Assure-Energy-Logo-white.svg);
    }
  }

  .copyright {
    padding-bottom:15px;
    p {
      margin-bottom:0;
    }
  }

}
