/*------------------------------------*\
    #PAGE HEADER STYLES
\*------------------------------------*/

header {

  //background-color:#e8e8e8;
  position: relative;
  z-index:2;


  @include media-breakpoint-up(lg){
    padding:0;
    background:#fff;
  }

}

h2.title {

	position:relative;
	width:280px;
  height:70px;
	margin:20px auto;
  z-index:1;

  @include media-breakpoint-up(lg){
    width:280px;
    height:70px;
  }

	a {

		display:block;
		position:relative;
		height:inherit;
		width: inherit;
		margin:0 auto;

		background-image:url(../img/Assure-Energy-Logo.svg);
		background-repeat:no-repeat;
		background-size:contain;

    @include media-breakpoint-up(lg){
      &.white {
        background-image:url(../img/Assure-Energy-Logo-white.svg);
      }
    }

	}

}
