/*------------------------------------*\
    #PAGE HEADER STYLES
\*------------------------------------*/

header {

  background-color:#e8e8e8;

}

h2.title {

	position:relative;
	width:280px;
  height:100px;
	margin:20px auto;

	a {

		display:block;
		position:relative;
		height:inherit;
		width: inherit;
		margin:0 auto;

		background-image:url(../img/Assure-Energy-Logo.svg);
		background-repeat:no-repeat;
		background-size:contain;

	}

}
