.photo-columns {

  color:#6b6b6b;

  h1,h2,h3,h4,h5,h6 {
    color:#000;
  }

  img {
    margin-bottom:-50px;
    margin-top:50px;
    @include media-breakpoint-up(lg){
      margin:0;
    }
    &.btm-m {
      margin-bottom:50px;
    }
  }

}
