$red: #971b1e;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #eee;
  flex-direction:column;
  text-align:center;
  font-family: 'Open Sans', sans-serif; }

img {
  max-width: 70%;
  display: block;
  margin: 0 auto; }

a {
  text-decoration: none;
  font-weight:bold;
  color:$red;
}

.staff {

  @media (min-width:600px){
    display:flex;
    &__member {
      margin-left:40px;
      margin-right:40px;
    }

  }

  &__member {
    margin-bottom:50px;
  }

}
